footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: grey;
    width: 100%;
    text-align: center;
    padding: 50px;
  }

h1 {
    text-align: center;
} 
.header {
    padding: 10px;
}

p {
    padding-right: 10%;
    padding-left: 10%;
}

@media (min-width: 992px) {
    #basket {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 150%;
    }
}

@media (max-width: 992px) {
    #basket {
        width: 100%;
    }
}
