footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: grey;
    width: 100%;
    text-align: center;
    padding: 50px;
  }

h1 {
    text-align: center;
} 
.header {
    padding: 10px;
}

p {
    padding-right: 10%;
    padding-left: 10%;
}