{% extends "layout.html" %}

{% block style %}
<style>
h3 {
    position: relative;
    left: 10%;
    right: 10%
}
</style>
{% endblock %}

{% block title %}About{% endblock %}

{% block main %}
<div id='about'>
    <h1 class='header'>A Brief Overview</h1>
    <p>Disc golf is a flying disc sport in which players throw a disc at a target; it is played using rules similar to golf.
        It is usually played on a course of 9 or 18 holes. Players complete a hole by throwing a disc from a tee area toward a target, 
        throwing again from the landing position of the disc until the target is reached. Usually, the number of throws a player uses to
        reach each target are tallied (often in relation to par), and players seek to complete each hole in the lowest number of total throws.
        The game is played in about 40 countries and, as of 2019, there are 53,366 active members of the PDGA worldwide.
    </p>
    <h3 class='header'>Origin and Early History</h3>
    <p>
        Disc golf was first invented in the early 1900s. The first game was held in Bladworth, Saskatchewan, Canada in 1926. Ronald Brandon Cain and 
        a group of his Bladworth Elementary School buddies played a game of throwing tin lids into 4-foot wide circles drawn into sandy patches on their school grounds. 
        They called the game Tin Lid Golf and played on a fairly regular basis. However, after they grew older and went their separate ways, the game came to an end. 
        It was not until the 1970s that modern disc golf would be introduced to Canadians at the Canadian Open Frisbee Championships in Toronto and Vancouver, BC. Modern
        disc golf started in the early 1960s, but there is debate over who came up with the idea first. The consensus is that multiple groups of people played independently 
        throughout the 1960s. Students at Rice University in Houston, Texas, for example, held tournaments with trees as targets as early as 1964, and in the early 1960s, 
        players in Pendleton King Park in Augusta, Georgia would toss Frisbees into 50-gallon barrel trash cans designated as targets. In 1968 Frisbee Golf was also played in 
        Alameda Park in Santa Barbara, California by teenagers in the Anacapa and Sola street areas. Gazebos, water fountains, lamp posts, and trees were all part of the course. 
        This took place for several years and an Alameda Park collectors edition disc still exists, though rare, as few were made. Clifford Towne from this group went on to hold
         a National Time Aloft record.
    </p>
    <h3 class='header'>Play of the Game</h3>
    <p>
        The sport of disc golf is set up similar to a game of golf. A "round" is played on a disc golf course consisting of a number of "holes", usually 9 or 18. Each hole includes a tee position for starting play and a disc golf target some distance away, often with obstacles such as trees, hills or bodies of water in between. Players begin by throwing a disc from the tee, without crossing over the front of the tee prior to releasing the disc when throwing. This could lead to a fault similar to the foot fault in bowling. Players then navigate the hole by picking up the disc where it lands and throwing again until they reach the target. The object of the game is to get through the course with the lowest number of total throws.[14] Play is usually in groups of five or fewer, with each player taking turn at the tee box, then progressing with the player furthest from the hole throwing first, while the other players stand aside. 
        Each course is unique, so each course requires a different combination of throws to complete, with the best players aiming to shape the flight of the disc to account for distance, terrain, obstacles and weather. In order to facilitate making different shots, players carry a variety of discs with different flight characteristics, choosing an appropriate disc for each throw. Some players also carry a mini marker disc, used to accurately mark the throwing position before each throw.  Use of mini marker discs is particularly prevalent in formal competitive play.
        Many courses include out-of-bounds areas, commonly called "OB zones" or just "OB". If the disc lands in these areas, the player is usually required to add a penalty throw onto his or her score and continue play from near where the disc entered the out-of-bounds zone. Some courses include out-of-bounds areas with special rules requiring the player the resume play from a specified area called a drop zone, or requiring the player to restart the hole from the tee. Some courses also include Mandatories (also called "Mandos") which require the path of the disc to be above, below or to one side of a specific line indicated by a sign.
        By tradition, players throw from the tee box in the order of their score on the previous hole, with the lowest scorer throwing first. Most players also follow a loose code of courtesy while playing, which includes norms such as standing out of the sight line of the throwing player and avoiding making distracting noises. Because a thrown disc could injure someone, the Professional Disc Golf Association recommends that players "Never throw into a blind area or when spectators, pedestrians or facility users are within range."[15]
        Formal competitive play is governed by the <a href="https://www.pdga.com/rules">PDGA Official Rules of Disc Golf</a> and the 
        <a href="https://www.pdga.com/rules/competition-manual-disc-golf-events">PDGA Competition Manual for Disc Golf events.</a> 
    </p>
</div>
{% endblock %}