{% extends 'layout.html' %}

{% block title %}Discs{% endblock %}

{% block main %} 
<div class="container text-center">
    <div class="row">
      <div class="col-lg">
        <div class="card" style="width: 21rem;">
            <img src="https://www.dynamicdiscs.com/v/vspfiles/photos/2176-2.jpg?v-cache=1583221629" class="card-img-top" alt="Distance Driver">
            <div class="card-body">
              <h5 class="card-title">Drivers</h5>
              <p class="card-text">Drivers are recognized by their sharp, beveled edge 
                and have most of their mass concentrated on the 
                outer rim of the disc rather than distributed equally 
                throughout. They are optimized for aerodynamics and 
                designed to travel maximum distances at high speeds. 
                They are typically thrown by experienced players 
                during tee-off and other long distance fairway throws</p>
              <a href="https://www.dynamicdiscs.com/distance-drivers_a/410.htm" class="btn btn-primary">Browse Drivers</a>
            </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card" style="width: 21rem;">
            <img src="https://www.dynamicdiscs.com/v/vspfiles/photos/6395-2.jpg?v-cache=1583221629" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mid Range</h5>
              <p class="card-text">Mid-range discs feature a dull, beveled edge and a moderate
                rim width. They offer more control than drivers, but they 
                have a smaller range. Mid-range discs are typically used as 
                approach discs. Beginner players will often use mid-ranges 
                instead of drivers at tee-off, as they require less strength
                and technique to fly straight than higher speed drivers.</p>
              <a href="https://www.dynamicdiscs.com/midranges_a/412.htm" class="btn btn-primary">Browse Mid Range</a>
            </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card" style="width: 21rem;">
            <img src="https://www.dynamicdiscs.com/v/vspfiles/photos/6333-2.jpg?v-cache=1583221629" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Putters</h5>
              <p class="card-text">Putters are similar to the discs used in simple games of catch, 
                such as the Wham-O brand Frisbee. They are designed to fly straight,
                predictably, and very slowly compared to mid-range discs and drivers.
                They are typically used for tight, controlled shots that are close 
                to the basket, although some players use them for short drives where obstacles come into play.</p>
              <a href="https://www.dynamicdiscs.com/putters_a/413.htm" class="btn btn-primary">Browse Putters</a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}